---
title: Coiffure pour femme - Ambition Coiffure
description:
robots: index, follow
---
<h1>Coiffure femme</h1>
<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <article class="coiffures col-xs-12">
        <%= image_tag 'hair-pink.png' ,width: '500px', class: "col-xs-12 col-md-6 round-hair" %>
        <div class="col-xs-12 col-md-6">
        <h2>Coupe cheveux longs</h2>
        <p><%= lorem.sentences 5 %></p>
        <a class="bouton col-xs-12" href="/mariage.html">Coiffure de mariage</a>
        </div>
      </article>

      <article class="coiffures col-xs-12">
        <%= image_tag 'hair-white.png' ,width: '500px', class: "col-xs-12 col-md-6 col-md-push-6 round-hair" %>
        <div class="col-xs-12 col-md-6 col-md-pull-6">
        <h2>Coupe cheveux longs</h2>
        <p><%= lorem.sentences 5 %></p>
        <a class="bouton col-xs-12" href="/mariage.html">Coiffure de mariage</a>
        </div>
      </article>

      <article class="coiffures col-xs-12">
        <%= image_tag 'hair-round-blue.png' ,width: '500px', class: "col-xs-12 col-md-6 round-hair" %>
        <div class="col-xs-12 col-md-6">
        <h2>Coupe cheveux longs</h2>
        <p><%= lorem.sentences 5 %></p>
        <a class="bouton col-xs-12" href="/mariage.html">Coiffure de mariage</a>
        </div>
      </article>

      <article class="coiffures col-xs-12">
        <%= image_tag 'hair-wedding.png' ,width: '500px', class: "col-xs-12 col-md-6 col-md-push-6 round-hair" %>
        <div class="col-xs-12 col-md-6 col-md-pull-6">
        <h2>Coiffure de mariage</h2>
        <p><%= lorem.sentences 5 %></p>
        <a class="bouton col-xs-12" href="/mariage.html">Coiffure de mariage</a>
        </div>
      </article>



    </div>
  </div>
</div>
